.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button {
    margin: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #7272f8;
    color: #fff;
    font-size: 1.4rem;
}